!!!5
%html
  %head
    %meta{ :'http-equiv'=>"content-type", :content=>"text/html; charset=utf-8" }
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %title
      #{site.title}: #{page.title}
    :css
      body {
        padding-top: 60px;
      }
    - if site.keywords
      %meta(name='keywords'){:content=>site.keywords}
    - if page.author
      %meta(name='author'){:content=>page.author}
    - if site.url
      %link(rel='canonical'){:href=>site.url}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"/stylesheets/bootstrap-responsive.min.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"/stylesheets/bootstrap.min.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"/stylesheets/highlight-7.5.min.css" }
    %script{ :type=>'text/javascript', :src=>'/javascripts/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/bootstrap-2.3.1.js' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/highlight-7.5.min.js' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href=>"http://recipes.selendroid.io" } #{site.title}
          %ul.nav
            %li
              %a{ :href=>"#{site.base_url}/blog" } Archive
            %li
              %a{ :href=>"#{site.base_url}/feed.atom" } Feed
            %li
              %a{ :href=>"http://selendroid.io" } Selendroid Documentation
    .container
      ~ content
    %footer
      %ul.breadcrumb
        %li
          &copy; 2012 - #{Date.today.year}
          %a{ :href=>"#{site.ebay_software_foundation_page}" } <img src="/img/ebay-logo.png"> software foundation
          |
        %li
          Written by
          %i.icon-user
          %a{ :href=>"#{site.contributors}" } Recipe Authors
          |
        %li
          %a{ :href=>"#{site.mailing_list}" } Mailing List
    = google_analytics_async
    %script
      hljs.initHighlightingOnLoad();
